<!DOCTYPE html>
<html lang="en">

<head>
  <title>WebRTC Video Analytics Broadcast</title>
  <link rel="stylesheet" href="./static/css/demo.css" />
</head>

<body>
  <div id="signalingContainer" style="display: none">
    Final browser base64 Session Description<br />
    <textarea id="finalLocalSessionDescription" rows="10" cols="50" readonly="true"></textarea> <br />

    Golang base64 Session Description<br />
    <textarea id="remoteSessionDescription" rows="10" cols="50" readonly="true"></textarea> <br/>
  </div>

  <br />
  Video
  <br />
  <div class="cl_container">
    <video class="cl_video" id="id_video" width="320" height="240" autoplay muted ></video>
    <canvas class="cl_canvas" id="id_canvas" width="320" height="240" style="display:none"></canvas>
  </div>
  
  <br />
  Logs
  <br />
  <div id="logs"></div>

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="./static/js/connect.js"></script>  
  <script language="javascript">
    publish();
  </script>
</body>

</html>